body { background: aliceblue; }


.navbar-text{

  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  color: #000;
}
.nav-img{
  width:30px;
  height:30px
}
.gtco-testimonials {
  position: relative;
  margin-top: 30px;
}

.gtco-testimonials .follow-div{
  margin-top: 4%;
   margin-bottom: 2%
}

.gtco-testimonials .card .card-body CardBody Form FormGroup Label{
 float: left;
}
.gtco-testimonials .card .card-body center .modal{
  background: #004E8E;
  background-color: #004E8E
 }
 .gtco-testimonials .card .card-body .follow-name{
  color:#000
 }

 
.gtco-testimonials .follow-div .card .card-img-tops{
max-width: 50px;
border-radius: 50%;
margin: 15px auto 0;
box-shadow: 0 8px 20px -4px #95abbb;
width: 50px;
height: 50px 
}
.gtco-testimonials .follow-div .card .card-body Button{
background-color: #004E8E;
color: #fff 
  }
  .gtco-testimonials span .post-data{
    position: absolute; 
    left: 50%; 
    margin-top: 10%;
    transform: translate(-50%, -50%);
    font-size: 26px
  }

.gtco-testimonials span span .testimonials-div{
  margin-top: 2%;
 margin-bottom: 2%
}
.gtco-testimonials span span .testimonials-div .card .card-body Button .delete{
  color: red;
  font-size: 24px;

}

.gtco-testimonials span span .testimonials-div .card .card-body .card-title{
  font-weight: 700;
  color: black 
}
.gtco-testimonials span span .testimonials-div .card .card-body .card-text{
font-size: 14px;
}

.gtco-testimonials span span .testimonials-div .card div .heart-img{
 float:left;
}
.gtco-testimonials span span .testimonials-div .card div .heart-likes
{
  float: left;
  margin-top: 5%;
 }
 .gtco-testimonials span span .testimonials-div .card div .comments-view
 {
    float: right; 
    margin-top: 4%;
    cursor: pointer
  }
  .gtco-testimonials span span .testimonials-div .card div .comment-avatar
  {
    float: left;
   }
  .gtco-testimonials span span .testimonials-div .card div .comment-content
  {
     float: left; 
   }
   .gtco-testimonials span span .testimonials-div .card div .comment-box
  {
    margin-top: 5%;
   }

   .gtco-testimonials span span .testimonials-div .card div .comment-box .comment-button
   {
    margin-top: 4%;
    margin-bottom: 2%
    }

  
 

@media (max-width: 767px) {
  .gtco-testimonials {
    margin-top: 20px;
  }
}
.gtco-testimonials h2 {
  font-size: 30px;
  text-align: center;
  color: #333333;
  margin-bottom: 50px;
}
.gtco-testimonials .owl-stage-outer {
  padding: 30px 0;
}
.gtco-testimonials .owl-nav {
  display: none;
}
.gtco-testimonials .owl-dots {
  text-align: center;
}
.gtco-testimonials .owl-dots span {
  position: relative;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: block;
  background: #fff;
  border: 2px solid #01b0f8;
  margin: 0 5px;
}
.gtco-testimonials .owl-dots .active {
  box-shadow: none;
}
.gtco-testimonials .owl-dots .active span {
  background: #01b0f8;
  box-shadow: none;
  height: 12px;
  width: 12px;
  margin-bottom: -1px;
}
.gtco-testimonials .card {
  background: #fff;
  box-shadow: 0 8px 30px -7px #c9dff0;
  margin: 0 20px;
  padding: 0 10px;
  border-radius: 20px;
  border: 0;
}
.gtco-testimonials .card .card-img-top {
  max-width: 700px;
  border-radius: 2%;
  margin: 15px auto 0;
  box-shadow: 0 8px 20px -4px #95abbb;
  width: 700px;
  height: 300px;
}
.gtco-testimonials .card .card-img-profile {
  max-width: 1500px;
  border-radius: 50%;
  margin: 15px auto 0;
  box-shadow: 0 8px 20px -4px #95abbb;
  width: 150px;
  height: 150px;
}
.gtco-testimonials .card h5 {
  color: #01b0f8;
  font-size: 21px;
  line-height: 1.3;
}
.gtco-testimonials .card h5 span {
  font-size: 18px;
  color: #666666;
}
.gtco-testimonials .card p {
  font-size: 18px;
  color: #555;
  padding-bottom: 15px;
}
.gtco-testimonials .active {
  opacity: 0.5;
  transition: all 0.3s;
}
.gtco-testimonials .center {
  opacity: 1;
}
.gtco-testimonials .center h5 {
  font-size: 24px;
}
.gtco-testimonials .center h5 span {
  font-size: 20px;
}
.gtco-testimonials .center .card-img-top {
  max-width: 100%;
  height: 120px;
  width: 120px;
}
body {
    display: flex;
    height: 100vh;
    background: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
  }
  
  label {
    display: flex;
    align-items: center;
  }
  
  .numbers {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 19px;
    color: #5b7083;
    height: 25.5px;
    overflow: hidden;
    padding-left: 3px;
    display: flex;
    flex-flow: column;
    transition: .2s ease;
    user-select: none;
  }
